
.task-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input-box {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-right: 10px;
  font-size: 16px;
}

.add-btn {
  background-color: #20c997;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
}

.add-btn:hover {
  background-color: #17a2b8;
}
